{% extends 'mainadmin.html' %}

{% block mainsec %}
  <center>
            {% if q %}
            <h1 class="moveup">Payment Details</h1>
                <table class="table table-striped bclr" style="width:1000px" >
                    <tr>
                        <th>SL.NO</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                        {% for row in q %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{row.amount}}</td>
                        <td>{{row.date}}</td>
                    </tr>
                        {% endfor %}
                </table>
                    {% else %}
                    <br><br>
             

                <h1 class="moveup">No Payment</h1>
                    
                    {% endif %}

        </center>
        </table>
    



        {% endblock  %}








