{% include "dealer_header.html" %}

<div style="width: 100%;height: 300px;background: url('/static/latest/assets/img/banner.jpg');background-size: cover;background-position: top;">

</div>
<center>
<div >
   
       
      </div>
      <div class="card-body">
        <div class="table-responsive">
            {% if q %}
            <h1>View Request</h1>
                <table class="table table-striped bclr" style="width:1000px" >
                    <tr>
                        <th>SL.NO</th>
                        <th>Product</th>
                        <th>Requested Quantity</th>
                        <th>Requested Date</th>
                        <th>Status</th>
                        
                    </tr>
                        {% for row in q %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{row.product.product_name}}</td>
                        <td>{{row.qty}}</td>
                        <td>{{row.date}}</td>
                        {% if row.rstatus == "pending" %}
                        <td>
                            <a class="btn btn-primary" href="/admin_accept_request/{{row.id}}">Accept</a>
                            <a class="btn btn-info" href="/admin_reject_request/{{row.id}}">Reject</a>
                        </td>
                       

                        {% elif row.rstatus == "paid" %}
                        <td>
                            <a class="btn btn-info" href="/dealer_update_stock/{{row.product_id}}/{{row.qty}}/{{row.id}}">UPDATE STOCK</a>
                        </td>
                        {% else %}
                        <td>{{row.rstatus}}</td>
                        {% endif %}
                    </tr>
                        {% endfor %}
                </table>
                    {% else %}
                    <h1>No Data</h1>
                    <br><br>
                
                    
                    {% endif %}
        </center>
        </table>
        </div>
      </div>
    </div>
  </div>
        



    
    

{% include "footer.html" %}










