{% include "user_header.html" %}

<div style="width: 100%;height: 300px;background: url('/static/latest/assets/img/banner.jpg');background-size: cover;background-position: top;">

</div>
    <center>
        {% if q %}
        <h1>My Orders</h1>
    <table class="table bclr" style="width: 1000px;">
        <tr>
            <th>SL.NO</th>
            <th>Total</th>
            <th>Date</th>
            <th>Status</th>
            <th>product details</th>
            <th>Bill</th>
            
        </tr>
            {% for row in q %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{row.total}}</td>
            <td>{{row.date}}</td>
            <td>{{row.status}}</td>
            <td><a class="btn btn-primary" href="/user_view_cart_history_product/{{row.id}}">Product Details</a></td>
            {% if row.status == "Paid" %}
            <td><a class="btn btn-info" href="/user_view_payment_details/{{row.id}}">View Payments</a></td>     
   {% endif %}
   <td><a class="btn btn-info" href="/generate_payment_invoice/{{row.id}}">Generate Bill</a></td>
           
        </tr>
            {% endfor %}
    </table>
    {% else %}
    <br><br>
    <h2>NO DATA</h2>
    <br><br><br><br>
    {% endif %}
</center>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% include "footer.html" %}