{% include "user_header.html" %}

<div style="width: 100%;height: 300px;background: url('/static/latest/assets/img/banner.jpg');background-size: cover;background-position: top;">

</div>

 
  <section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="cart-list">
                <table class="table bclr" >
                    <thead class="thead-primary">
                      <tr class="text-center">
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>Product name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in q %}
                      <tr class="text-center">
                        {% comment %} <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td> {% endcomment %}
                        <td></td>
                        
                        <td class="image-prod"><div class="img" style="background-image:url(/static/uploads/{{i.product.image}});"></div></td>
                        
                        <td class="product-name">
                            <h3>{{i.product.product_name}}</h3>
                            <p>{{i.product.p_description}}</p>
                        </td>
                        
                        <td class="price">{{i.product.rate}}</td>
                        
                        <td class="quantity">
                            <div class="input-group mb-3">
                             <input type="text" name="quantity" readonly class="quantity form-control input-number" value={{i.quantity}}>
                          </div>
                      </td>
                        
                        <td class="total">{{i.amount}}</td>
                        <td><a class="btn btn-danger" href="/customer_remove_cart_product/{{i.id}}/{{i.booking.id}}">REMOVE</a></td>
                        {% endfor %}
                      </tr><!-- END TR-->
                      <tr>
                       <th align="center" colspan="6"><center><span><h2>Total : {{omtotal}}
                            {% if st == "pending" %}
                          <a class="btn btn-danger" href="/user_make_payment/{{oid}}/{{omtotal}}" >PLACE ORDER</a></h2></span></center>
                           {% endif %}</th> 
                      </tr>
                     


                    </tbody>
                  </table>
              </div>
        </div>
    </div>
   
</section>


<br><br><br><br><br><br><br><br><br><br><br><br>
{% include "footer.html" %}