{% include "user_header.html" %}
<div style="width: 100%;height: 300px;background: url('/static/latest/assets/img/banner.jpg');background-size: cover;background-position: top;">

</div>

    <center>
        {% if q %}
        <h1>Payment</h1>
    <table class="table bclr" style="width: 800px;" >
        <tr>
            <th>SL.NO</th>
            <th>Order_ID</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
            {% for row in q %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{row.order_id}}</td>
            <td>{{row.total}}</td>
            <td>{{row.date}}</td>
        </tr>
            {% endfor %}
    </table>
    {% else %}
    <br><br>
    <h2>NO DATA</h2>
    
    <br><br><br><br>
    {% endif %}
</center>

<br><br><br><br><br><br><br><br><br><br><br><br>
{% include "footer.html" %}